<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      BUILD PC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">

    <ion-slide>
      <img src="../assets/img/slide1.png"/>
    </ion-slide>

    <ion-slide>
      <img src="../assets/img/slide1.png"/>
    </ion-slide>

    <ion-slide>
      <img src="../assets/img/slide1.png"/>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col style="text-align : center">
        <div>
          <ion-card style="border-radius: 20px;" (click)="mulaiRakit()">
             
              <img src="../assets/img/mulai_rakit.png"/>
              
          </ion-card>
          <ion-label>MULAI RAKIT</ion-label>
        </div>
      </ion-col>
      <ion-col style="text-align : center">
          <div>
            <ion-card style="border-radius: 20px;">
               
                <img src="../assets/img/daftar_rakit.png"/>
                
            </ion-card>
            <ion-label>DAFTAR RAKIT</ion-label>
          </div>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col style="text-align : center">
            <div>
              <ion-card style="border-radius: 20px;">
                 
                  <img src="../assets/img/galeri.png"/>
                  
              </ion-card>
              <ion-label>GALERI</ion-label>
            </div>
          </ion-col>
          <ion-col style="text-align : center">
              <div>
                <ion-card style="border-radius: 20px;">
                   
                    <img src="../assets/img/about.png"/>
                    
                </ion-card>
                <ion-label>ABOUT</ion-label>
              </div>
            </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
